// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$navbar-dark-color: rgba(#fff, .8);

$primary:       #3a89f0 !default;
$secondary:     rgb(47, 239, 136) !default;
$success:       #86b818 !default;
$info:          rgb(201, 253, 255) !default;
$warning:       rgb(207, 0, 145) !default;
$danger:        rgb(223, 63, 63) !default;

